header {
  position: relative;
  height:100dvh;
  width: 100dvw;
  background-color: var(--primary-bg);
  box-shadow: var(--shadow-main);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header h1 {
  font-family: var(--font-heading);
  color: var(--accent);
}

header span {
  font-family: var(--font-body);
  color: var(--secondary-text);
}

header hr {
  border-color: var(--accent);
  margin-top: 2vh;
}

header h2 {
  color: var(--text);
  font-weight: 400;
  font-family: var(--font-subheading);
  margin-top: 2vh;
}

header p {
  font-family: var(--font-body);
  text-align: center;
  color: var(--secondary-text);
}

.hero-btns {
  display: flex;
}

header a {
  width: max(180px, 20vw);
  height: max(50px, 6vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  font-family: var(--font-subheading);
  border-radius: var(--border-radius);
  @media (hover: hover) {
    &:hover {
      filter: brightness(110%);
      transform: scale(0.95);
      cursor: pointer;
      box-shadow: none;
    }
    &:focus {
      filter: brightness(110%);
    }
  }
  &:active {
    transform: scale(0.95);
  }
  &:nth-of-type(1) {
    box-shadow: var(--shadow-btn);
    background-color: var(--accent);
    color: var(--primary-bg);
  }
  &:nth-of-type(2) {
    box-shadow: var(--shadow-btn-alt);
    color: var(--accent);
    border: 2px var(--accent) solid;
  }
}

.attention-arrow {
  color: var(--accent);
  transform: rotate(135deg);
  animation: bounce 2s ease-in-out infinite;
}

@media (orientation: portrait) {
  header:before {
    background-image: url("Images/hero-portrait.webp");
  }
  header h1 {
    font-size: clamp(3rem, 7vh, 6rem);
    margin-top: 14vh;
  }

  header span {
    font-size: clamp(1rem, 4vh, 1.9rem);
    margin-top: 3vh;
    @media screen and (max-height: 450px) {
      display: none;
    }

    & > span {
      display: none;
    }
  }

  header hr {
    width: 80vw;
  }

  header h2 {
    font-size: clamp(1rem, 4vh, 1.7rem);
  }

  header p {
    font-size: clamp(0.8rem, 2.5vh, 1.2rem);
    margin-top: 4vh;
    width: max(60vw, 315px);
  }

  .hero-btns {
    gap: 4vh;
    flex-direction: column;
    margin-top: 4vh;
    margin-bottom: 2vh;
  }

  header a {
    font-size: clamp(1.1rem, 4vh, 1.5rem);
    width: max(180px, 70vw);
    height: max(50px, 8vh);
  }

  .attention-arrow {
    position:absolute;
    bottom:3vh;
    height: 6vh;
    align-self:center;
  }
}

@media (orientation: landscape) {
  header:before {
    background-image: url("Images/hero-landscape.webp");
  }
  header h1 {
    font-size: clamp(3rem, 8vw, 6rem);
    margin-top: 10vh;
  }

  header span {
    font-size: clamp(1.2rem, 2.5vw, 3rem);
    margin-top: 1vh;
    @media (max-height: 450px) {
      display: none;
    }
  }

  header hr {
    width: 60vw;
  }

  header h2 {
    font-size: clamp(1.2rem, 4vw, 4rem);
  }

  header p {
    font-size: clamp(0.8rem, 1.8vw, 2rem);
    width: max(60dvw, 315px);
    @media (max-height: 450px) {
      display: none;
    }
  }

  .hero-btns {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width: 60vw;
    margin-top: 3vh;
    margin-top: 6vh;
  }

  header a {
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    width: max(180px, 20vw);
    height: max(50px, 6vh);
  }
  .attention-arrow {
    height: max(50px, 6vh);
  }
}
@media (min-width: 500px) and (max-width: 1400px) and (orientation: portrait) and (hover:none) {
  header:before {
    background-image: url("Images/hero-portrait.webp");
  }
  header h1 {
    font-size: clamp(3rem, 9vh, 6rem);
  }

  header span {
    font-size: clamp(1rem, 4vh, 3rem);
    margin-top: 2vh;
    & > span {
      display: inline;
    }
  }

  header hr {
    width: 80vw;
  }

  header h2 {
    font-size: clamp(1rem, 4vh, 3rem);
  }

  header p {
    font-size: clamp(0.8rem, 2.5vh, 2rem);
    width: max(80dvw, 315px);
    margin-top: 4vh;
  }

  .hero-btns {
    gap: 6vh;
    flex-direction: column;
    margin-top: 6vh;
    margin-bottom: 3vh;
  }

  header a {
    font-size: clamp(1.1rem, 4vh, 4rem);
    width: max(180px, 70vw);
    height: max(50px, 8vh);
  }

  .attention-arrow {
    height: 6vh;
    margin-bottom: 8vh;
  }
}
@media (min-width: 500px) and (max-width: 1500px) and (min-height: 500px) and (orientation: landscape) and (hover:none) {
  header:before {
    background-image: url("Images/hero-landscape.webp");
  }
  header h1 {
    font-size: clamp(3rem, 12vw, 8rem);
    margin-top: 10vh;
  }

  header span {
    font-size: clamp(1.2rem, 4vw, 2.8rem);
    margin-top: 1vh;
  }
  header hr {
    width: 70vw;
  }

  header h2 {
    font-size: clamp(1.2rem, 5vw, 3.8rem);
  }

  header p {
    font-size: clamp(0.8rem, 3vw, 1.8rem);
    margin-top: 1vh;
    width: max(70dvw, 315px);
  }

  .hero-btns {
    margin-top: 3vh;
    gap: 10vw;
    margin-top: 6vh;
  }

  header a {
    font-size: clamp(1.1rem, 4vw, 2.2rem);
    width: max(180px, 30vw);
    height: max(50px, 10vh);
  }
  .attention-arrow {
    height: 8vh;
    margin-top: -8.5vh;
  }
}
