main {
  position: relative;
  height: fit-content;
  background-color: rgb(13, 15, 24);
  z-index: 0;
  padding: 5vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("Images/main-background.webp");
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (orientation: landscape) {
  main h2 {
    font-size: 7vw;
    font-family: var(--font-heading);
    color: var(--text);
    padding-bottom: 2vh;
  }

  main h3 {
    font-size: 2vw;
    font-family: var(--font-subheading);
    color: var(--accent);
  }

  main p,
  main span {
    font-size: 2vw;
    color: var(--secondary-text);
    font-family: var(--font-body);
  }
  #about-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  #skill-grouping {
    display: grid;
    grid-template-columns: 35vw 35vw;
    grid-template-rows: fit-content;
    grid-template-areas:
      "skill1 skill2"
      "skill3 skill4";
    align-items: center;
    gap: 3vw;
    margin: 8vh 0;
  }

  .skill {
    width: 35vw;
    height: 20vh;
    background-color: rgb(18, 24, 39);
    border-radius: var(--border-radius);
    border: 1px solid tan;
  }
  main .skill.header,
  .about.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-bg);
    border-bottom: 1px solid var(--accent);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    height: 5vh;
  }
  main .skill.content {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .skill span {
    text-wrap: pretty;
  }
  #id-section p,
  #id-section h2 {
    grid-area: header;
  }
  .skill:nth-of-type(1) {
    grid-area: skill1;
  }
  .skill:nth-of-type(2) {
    grid-area: skill2;
  }
  .skill:nth-of-type(3) {
    grid-area: skill3;
  }
  .skill:nth-of-type(4) {
    grid-area: skill4;
  }

  .about.text {
    width: 73vw;
    height: 30vh;
    background-color: rgb(18, 24, 39);
    border-radius: var(--border-radius);
    border: 1px solid tan;
    margin-bottom: 5vh;
  }
  main .about.content {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .stat.grouping {
    display: flex;
    flex-direction: row;
    gap: 3vw;
  }
  .stat.icon {
    width: 16vw;
    height: 30vh;
    background-color: rgb(18, 24, 39);
    border-radius: var(--border-radius);
    border: 1px solid tan;
    margin-bottom: 5vh;
  }
  .stat.icon h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-bg);
    border-bottom: 1px solid var(--accent);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    height: 10vh;
  }
    .stat.icon span {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    padding:5vh;
  }
}
