nav {
  position: fixed;
  width: 100dvw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg);
  border-bottom: 1px solid rgba(210, 180, 140, 0.4);
  z-index: 2147483647;
}
nav .logo {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 2dvw;
  color: var(--accent);
  font-weight: bold;
  font-family: var(--font-heading);
  cursor: default;
}

.logo svg {
  transition: transform 0.5s ease;
}

@media (orientation: portrait) {
  nav {
    height: 10dvh;
  }
  nav .logo {
    left: 6dvw;
  }
  .logo span {
    display: none;
  }
  .logo svg {
    width: 6vh;
  }
  nav ul {
    display: none;
  }

  nav .hamburger {
    position: absolute;
    right: 9vw;
    width: fit-content;
    height: fit-content;
    color: var(--accent);
    border: none;
    background-color: transparent;
    &:active {
      transform: scale(0.95);
    }
  }

  nav .hamburger svg {
    width: 6vh;
  }
}
@media (orientation: landscape) {
  nav {
    height: min(10vw, 15vh);
  }
  nav .logo {
    left: 3dvw;
  }
  .logo span {
    font-size: 3vw;
  }
  .logo svg {
    width: 3vw;
  }
  nav ul {
    position: absolute;
    right: 3dvw;
    color: white;
    list-style: none;
  }
  nav .hamburger {
    display: none;
  }
  nav li {
    display: inline;
    padding: 3dvw;
  }
  nav a {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
    font-family: var(--font-subheading);
    font-size: 1.75dvw;
    cursor: pointer;
  }
  nav .slash {
    font-size: 1.75dvw;
  }
  nav .norm-nav {
    @media (hover: hover) {
      &:hover {
        color: rgb(230, 180, 140);
      }
    }
    &:focus {
      color: rgb(230, 180, 140);
    }
    &:active {
      transform: scale(0.95);
    }
  }
  nav .norm-nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: rgb(230, 180, 140);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  .resume-nav {
    color: var(--primary-bg);
    background-color: var(--accent);
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    @media (hover: hover) {
      &:hover {
        filter: brightness(110%);
      }

      &:focus {
        filter: brightness(110%);
      }
    }
    &:active {
      transform: scale(0.95);
    }
  }
  @media (hover: hover) {
    nav:hover .logo svg {
      transform: rotate(-15deg);
    }
    nav .norm-nav:hover::after {
      transform: scaleX(1);
    }
    /* ^ Hover CSS ^ */
  }
}
